
.login-content {
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; 
  }
  
  .login-form {
    width: 100%;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .login-button {
    background-color: #0984e3;
    font-size: 1rem; 
    margin-top: 1.5rem; 
    border-radius: 25px;
    padding: 12px 0;
    width: 100%; 
    transition: background-color 0.3s ease;
  }
  
  .register-button {
    background-color: #dfe6e9;
    color: #0984e3;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
    padding: 12px 0;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  