/* Login.css */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .avatar-icon {
    font-size: 120px;
    color: #6c757d;
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-container {
    margin-top: 10px;
  }
  
  .login-button {
    margin-top: 10px;
  }
  
  .register-button {
    margin-top: 10px;
  }
  